@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Todo App</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Add Todo</h2>
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                    <!--<label for="inputTodo" class="col-lg-2 control-label">Todo</label>-->
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTodo" placeholder="Todo" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" autocomplete="off">
                    </div>
                    </div>
                  </fieldset>
               </form>
            <button class="btn btn-primary"> Click here </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>View Todos</h2>
        </div>
    </div>
</div>